
#login .formcontrol {

    font-size: 14px;  
}


#login .btn.btn-primary {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    display: block;
    min-width:500px
    
}


body {background-color: grey}

h1,h2{ color : blue}

