<h1>{{title}}</h1>

<body>
<div class="container">
    <div class="form-group">
        <label for="firstname" class="sr-only">Firstname</label>
        <input type="text" 
        class="form-control" placeholder="Firstname"
        [(ngModel)]="firstname">
        </div>
        <div class="form-group">
        <label for="lastname" class="sr-only">Lastname</label>
        <input type="text"  class="form-control"
        placeholder="Lastname" [(ngModel)]="lastname">
        </div>
        <button (click) ="Click()" class="btn btn-primary">Login </button>
  
  </div>
  </body>