
<div class="form-group">
  <div class="col-sm-10">
    <div class="form-group">
    <input type="text" name="firstName" class="form-control" placeholder="Firstname"[(ngModel)]="firstName" #Name>
    </div>
    <div class="form-group">
   <input type="text" name="lastName" class="form-control" placeholder="Lastname" [(ngModel)]="lastName" #LastName>
    </div>
    <button type="button" class="btn btn-default" (click)="submit(firstName,lastName)">Submit</button>

    <hr/>
    <div *ngIf="arrayList.length > 0">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>LastName</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrayList">
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
